/* @import "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"; */

* {
  margin: 0;
  padding: 0;
}

html, body{
  height:100%;
  width: 100%;
}

.painter{
  display: flex;
}

.controlArea{
  background-color: #ecebbd;
  min-width: 200px;
  max-width: 200px;
  height: 100vh;
  text-align: center;
  overflow: auto;
}

.canvasArea{
  overflow: hidden;
}

.canvasArea canvas {
  display: block;
  /* border: dotted 5px rgb(153, 244, 247); */
}

.area{
  margin: 10px;
}

.brushSizeSetting, .brushColorSetting,
.brushFunction, .otherFunction, .textfunction { 
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: #fff;
  padding: 5px;
}



.textfunction input, .textfunction select{
  width: 90%;
  height: 2rem;
  margin: auto;
  padding: 0;
  margin-top: 5px;
}
.textfunction select{
  margin-top: 5px;
  margin-bottom: 5px;
}

#colorSelector{
  border: transparent 1px solid;
  height: 1rem;
  border-radius: 50px;
  overflow: hidden;
}
#colorSelector:hover {
  cursor: pointer;
}
#colorSelector:focus {
  outline: none;
}
#colorSelector::-webkit-color-swatch-wrapper {
	padding: 0;
}
#colorSelector::-webkit-color-swatch {
	border: none;
}

label{
  margin: 0;
}
.upload label{
  margin: 0;
  padding: 0;
  width: 100%;
}
.upload label:hover{
  cursor: pointer;
}
#downloadBtn{
  display: block;
  padding: 0;
  width: 100%;
  color: black;
  text-decoration: none;
}
canvas{
  cursor: url(../assets/cursor-pen.png) 0 15, auto;
}


.circleIcon{
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 100%;
  margin: auto;
}

.btn{
  width: 40px;
  height: 40px;
  border: dotted 2px #ccc;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.btn:hover{
  background-color: #ff48005e;
}

#smBrush{
  background-color: black;
  width: 10px;
  height: 10px;
}
#mdBrush{
  background-color: black;
  width: 15px;
  height: 15px;
}
#lgBrush{
  background-color: black;
  width: 20px;
  height: 20px;
}

